data/cifar10
data/svhn
data/models
data/feature_maps
data/predictions
data/trained_models
differnet/weights
differnet/models
differnet/cifar10_dataset
anomalib/results
anomalib/anomalib.egg-info
**/__pycache__/**
*.pth