wandb
ipywidgets
torchsummary
seaborn
black[jupyter]


albumentations
attrdict
defusedxml
einops
FrEIA @ git+https://github.com/VLL-HD/FrEIA.git
kornia
lxml
matplotlib
networkx
nncf
numpy
torch
omegaconf
pillow
pytorch-lightning
torchvision
scikit-image
scikit-learn
wandb
black
coverage
flake8
flaky
isort
mypy
pytest
pylint
pre-commit
setuptools
tox
types-PyYAML
types-setuptools
defusedxml
requests
networkx
onnx
opencv-python
openvino-dev
furo
myst-parser
sphinx
sphinx-autoapi
sphinxemoji
